{% extends 'base.html' %}

{% block title %}{{post.title_tag}}{% endblock %}
{% block content %}
{% load static %}

<h1>{{post.title}}<h1/>
<h4>Autor: {{post.author.first_name}}{{post.author.last_name}}</h4></br>
{{post.category}}
<p>{{post.date}}</p>
{% if user.is_authenticated %}
    {% if user.id == post.author.id%}
        <a href="{% url 'edit_post' post.pk %}" class="btn btn-success">Editar</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Borrar</a>
    {% endif %}
{% endif %}

<hr>
</br>
<div class="fs-5">{{post.body}}</div>
</br></br>
<a href="{% url 'home'%}" class= "btn btn-secondary">Back</a>

{% endblock %}