{% extends 'base.html' %} {% block content %}
 {% if category_posts%}
    <h1 class="text-center p-5 fs-1">{{ cats }}</h1>
    <ul>
    {% for post in category_posts%}
    <li>
        {{post.title}} -
        {{post.subtitle}} - {{post.author.first_name}} {{post.author.last_name}}<br/>
        {% if user.is_authenticated %}
        <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary p-1 m-3">Editar</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger p-1 ">Borrar</a>
        {% endif %}
        <br />
        <br />
        {{post.date}}<br />
        {{post.body | slice:":200"}}...
        <a href="{% url 'artdetail' post.pk %}"><button class="btn btn-dark">Leer Más</button></a>
        <br />
        <img src="{{post.image}}">
    </li>
    {% endfor %}
    </ul>
{% else %}
    <h2 class="text-center p-5 fs-1">Todavia no hay posteos en esta categoria</h2>
{% endif %}
{% endblock %}
