{% extends 'base.html' %} {% block title %}Edita tus posteos{% endblock %} 
{% block content %}

{% if user.is_authenticated %}
  {% if user.id == post.author.id%}
    <h3>Actualiza tu Posteo!</h3>

    <div class= "form-group">
      <form method="POST">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <button class="btn btn-secondary">Guardar</button>
      </form>
    </div>
  {% else %}
    <h2 class="p-5 m-4 bg-danger">No tienes permitido hacer eso!</h2>
    <a href="{% url 'home'%}" class= "btn btn-secondary">Volver</a>
  {% endif %}
{% else %}
    <h2 class="p-5 m-4 bg-danger">No tienes permitido hacer eso!</h2>
    <a href="{% url 'home'%}" class= "btn btn-secondary">Volver</a>
{% endif %}




{% endblock %}