{% extends 'base.html' %} {% block content %}

<h1 class="text-center p-5 fs-1">Posteos</h1>

<ul class="listaPrincipal">
  {%for post in object_list %}
  <li>
    {{post.title}}</a> -
    {{post.subtitle}} - {{post.author.first_name}} {{post.author.last_name}}
    {% if user.is_authenticated %}
    <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary p-1 m-3">Editar</a>
    <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger p-1 ">Borrar</a>
    {% endif %}
    <br />
    <br />
    {{post.date}}<br />
    {{post.body | slice:":200"}}...
    <a href="{% url 'artdetail' post.pk %}"><button class="btn btn-dark">Leer Más</button></a>
    <br />
    <img src="{{post.image}}">
  </li>
  {%endfor%}
</ul>

{% endblock %}
